@import 'styles';

.counter-container {
  display: flex;
  width: 200px;

  button {
    padding: 5px 8px;
    color: white;
    &.decrement {
      background-color: $red;
      border: 1px solid $red;
    }
    &.increment {
      background-color: $green;
      border: 1px solid $green;
    }
  }

  input:focus {
    outline: none;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}
