<app-toolbar [title]="'100 Angular Challenge'">
  <ul>
    <li
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="['rxjs']">
      Rxjs
    </li>
    <li
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="['js']">
      Js
    </li>
    <li
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="['']">
      Components
    </li>
    <li
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="['directives']">
      Directives
    </li>
    <li
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="['services']">
      Services
    </li>
    <li
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="['pipes']">
      Pipes
    </li>
    <li
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="['other']">
      Other
    </li>

    <li
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="['demo']">
      Demo
    </li>
  </ul>
</app-toolbar>

<main>
  <router-outlet></router-outlet>
</main>

<app-snackbar></app-snackbar>
