//@import 'styles';
@import '../../../styles/colors';

.tabs {
  display: flex;

  ul {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 3px solid transparent;

    li {
      cursor: pointer;
      margin-right: 20px;
      transition: all 0.3s;
      list-style: none;

      &.selected {
        border-bottom: 3px solid $blue;
      }
    }
  }
}
